<div class="molt-card odd">
    <div (click)="emitNewJob()" class="molt-card-header clickable">
        <span class="job-name">{{currentJob.name}}</span> <span class="sub-name">{{currentJob.subName}}</span>
    </div>
    <div class="molt-card-body">
        <em [innerHTML]="currentJob.descrip"></em>
        @if (currentJob.extras) {
            <div class="extras-section">
                @for (extra of currentJob.extras; track $index) {
                    <div [innerHTML]="extra"></div>
                }
            </div>
        }
        <div class="details-section">
            <strong (click)="rerollDetails()" class="clickable info details-title">{{currentJob.details.title}}</strong>
            <span [innerHTML]="chosenJobObj.details"></span>
        </div>
        <div>
            <strong (click)="rerollTraits()" class="clickable info">{{chosenJobObj.traits.title}}</strong>
            <span [innerHTML]="chosenJobObj.traits.descrip"></span>
        </div>

        <div class="job-image">
            <img src="./assets/images/{{currentJob.name | lowercase}}.png" alt="">
        </div>
    </div>
</div>
