<div class="molt-card even">
    <div (click)="rerollAll()" class="molt-card-header clickable">
        EQUIPMENT
    </div>
    <div class="molt-card-body">
        <div>
            <strong><u>STARTING EQUIPMENT</u></strong>
            <ul>
                <li (click)="rerollStartingEquipment('first')" [innerHTML]="startingEquipmentObj.first"></li>
                <li (click)="rerollStartingEquipment('second')" [innerHTML]="startingEquipmentObj.second"></li>
                <li (click)="rerollStartingEquipment('third')" [innerHTML]="startingEquipmentObj.third"></li>
            </ul>
        </div>
        @if (weapon) {
            <div>
                <strong><u>WEAPON</u></strong>
                @if (typeof currentJob.gear.weapons === 'number') {
                    <div (click)="rerollWeapon()" [innerHTML]="weapon"></div>
                } @else if (numUrns > 0) {
                    <div class="urn-card">
                        <div class="urn-card-title">
                            <strong (click)="rerollUrnNum()" class="clickable">{{numUrns}} MOLTEN ICHOROUS LEECH-FILLED URNS</strong>
                        </div>
                        <div class="urn-card-body">
                            <span [innerHTML]="weapon"></span>
                        </div>
                    </div>
                }
            </div>
        }
        @if (armor) {
            <div>
                <strong><u>ARMOR</u></strong>
                @if (typeof currentJob.gear.armor === 'number') {
                    <div (click)="rerollArmor()" [innerHTML]="armor"></div>

                } @else {
                    <div [innerHTML]="armor"></div>
                }
            </div>
        }

        @if (relicArray.length > 0) {
            <div class="relic-card">
                <div class="relic-card-header">
                    <strong (click)="rerollAllRelics()" class="clickable info">RELICS</strong>
                    <span class="small-text">
                        Magickal items. Have a <strong>50/50 chance of breaking</strong> after each use.
                    </span>
                </div>
                <div class="relic-card-body">
                    @for (relic of relicArray; track $index) {
                        <div [ngClass]="{'upper-border': $index > 0}">
                            <strong (click)="rerollRelic(relic.index, true)" class="clickable info">{{relic.title | uppercase}}</strong>
                            <span [innerHTML]="relic.descrip"></span>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>