<div class="molt-layout">

  @if (!inIFrame) {
    <header>
      <strong>THE MOLT</strong>
    </header>
  }

  <div class="molt-body-layout">
    <span class="molt-body">
      <app-toolbar
        class="toolbar"
        (rerollAllEmitter)="rerollAll()"
      ></app-toolbar>
      <app-abilities
        class="abilities"
        [currentJob]="currentJob"
        [hasMaxPowerPoints]="hasMaxPowerPoints"
      ></app-abilities>
      <app-identity
        class="identity"
        [rerollAllEvent]="rerollAllEvent"
      ></app-identity>
      <app-job
        class="job"
        [currentJob]="currentJob"
        (newJobEmitter)="getNewJob()"
        (sightSeerEmitter)="togglePowerPoints($event)"
      ></app-job>
      <app-equipment
        class="equipment"
        [currentJob]="currentJob"
      ></app-equipment>
    </span>
  </div>

  <footer>
    <div>
      The Molt is an independent production by Creature Curation and is not affiliated with Ockult Örtmästare Games or Stockholm Kartell. It is published under the MÖRK BORG Third Party License.
    </div>
    <div>MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.</div>
    <div>Web app by <a class="clickable link" target="_blank" href="https://artliches.github.io/dungeons-coding/">codeLiches</a></div>
    <div>v1.0: Deep beneath the earth, the Molt awaits...</div>
  </footer>
</div>