<div class="molt-layout">
  <header>
    <strong>THE MOLT</strong>
  </header>

  <div class="molt-body-layout">
    <span class="molt-body">
      <app-abilities
        class="abilities"
      ></app-abilities>
      <app-identity
        class="identity"
      ></app-identity>
      <app-job
        class="job"
      ></app-job>
      <app-equipment
        class="equipment"
      ></app-equipment>
    </span>
  </div>

  <footer>
    <div>
      The Molt is an independent production by Creature Curation and is not affiliated with Ockult Örtmästare Games or Stockholm Kartell. It is published under the MÖRK BORG Third Party License.
    </div>
    <div>MÖRK BORG is copyright Ockult Örtmästare Games and Stockholm Kartell.</div>
    <div>Web app by <a class="clickable link" target="_blank" href="https://artliches.github.io/dungeonsandcoding/">codeLiches</a></div>
    <div>v0.21a: Something wicked this way comes</div>
  </footer>
</div>