@font-face {
    font-family: "Alegreya";
    src: local('Alegreya'), url(../public/assets/fonts/Alegreya.ttf) format('truetype');
}

@font-face {
    font-family: "MetalMania";
    src: local('MetalMania'), url(../public/assets/fonts/MetalMania.ttf) format('truetype');
}

@font-face {
    font-family: "Skranji-Bold";
    src: local('Skranji-Bold'), url(../public/assets/fonts/Skranji-Bold.ttf) format('truetype');
}

@font-face {
    font-family: "Skranji-Regular";
    src: local('Skranji-Regular'), url(../public/assets/fonts/Skranji-Regular.ttf) format('truetype');
}

:root {
    --orange: #F7931D;
    --darker-orange: hsl(32, 93%, 40%);
    --yellow: #FFE900;
    --off-white: #ebebeb;
    --cBlack: hsl(0, 0%, 0%);

    --larger: 2rem;
    --large: 1.5rem;
    --standard: 1rem;
    --small: 0.875rem;

    --card-padding: 0.5rem;
    --card-border-color: hsl(0, 0%, 20%);
    --card-border: 2px solid var(--card-border-color);
}

::selection {
    background: var(--yellow);
    color: black;
}


html, body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

@keyframes move-background {
    from {
        background-position: 0 0;
    } to {
        background-position: 0% -100%;
    }
}

body {
    background-color: var(--darker-orange);
    color: black;
    font-family: 'Alegreya';
    font-size: va(--standard);

    background-image: linear-gradient(45deg, var(--orange) 18px, transparent 16px), linear-gradient(-45deg, var(--orange) 18px, transparent 16px);
    background-position: 0px 0px;
    background-size: 50px 50px;

    animation: move-background 160s infinite linear;

}

.molt-card {
    position: relative;
    height: 100%;
    padding: var(--card-padding);
    background-color: black;
    color: var(--off-white);
    border: var(--card-border);
    display: flex;
    gap: 1rem;
    flex-direction: column;
    &.odd {
        &:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            transform: rotate(-1deg);
            background-color: var(--card-border-color);
        }
    }
    &.even {
        &:after {
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            transform: rotate(1deg);
            background-color: var(--card-border-color);
        }
    }


    .molt-card-header {
        align-self: center;
        width: max-content;
        padding: 0 var(--card-padding);
        background-color: var(--yellow);
        font-family: 'Skranji-Bold';
        font-size: var(--large);
        color: black;
        border: 2px solid goldenrod;
        box-shadow: 5px 5px 0 goldenrod;

        &:hover {
            background-color: black;
            color: var(--yellow);
            border: 2px solid goldenrod;
            transition: all .06s ease-in-out !important;
        }
        &:active {
            transform: translate(5px, 5px);
            box-shadow: none;
        }
    }
    .molt-card-body {
        position: relative;
        padding: var(--card-padding);
        height: 100%;
        background-color: var(--off-white);
        color: black;
        box-shadow: -5px -5px var(--orange);
    }
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.underline {
    text-decoration: underline;
}

.info {
    font-weight: bold;
    background-color: var(--orange);
    color: black;
    &:hover {
        background-color: black;
        color: var(--orange);
    }
    &:active {
        background-color: var(--yellow);
        color: black;
    }
}

.link {
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    color: var(--off-white);
    &:hover {
        background-color: var(--yellow);
        color: black;
    }
}
